.sidebar {
    width: 200px;
    float: left;
    background-color: steelblue;
    height: 90vh;
}

.sidebar-link {
  width: 65px;
  padding: 10px;
  margin: 30px;
  color: darkgray;
  
}

.disabled {
  color: lightgray ;
}

.search-input{
  margin-left: -30px;
  margin-top: 10px;
}
